@import '../../../index.scss';
.listLi {

  list-style: none;
  height: 50px;
  &:hover {
    cursor: pointer;
    background-color: $hover;
  }
}
.selectLi {
  background-color: $error;
  cursor: default;
  &:hover {
    cursor: default;
    background-color: $error;
  }
}
.win {
  background-color: $winner;
  cursor: default;
  &:hover {
    cursor: default;
    background-color: $winner;
  }
}
.image {
  width: 200px;
  height: 155px;
  border-radius: 5px;
  object-fit: cover;
}
