@import '../../../index.scss';
.listLi {

  list-style: none;
  height: 50px;
  &:hover {
    cursor: pointer;
    background-color: $hover;
  }
}
.circle {
  display: flex;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: $hover;
  margin-right: 20px;
}
.bg {
  background: $bg_block,
}
.selectLi {
  background-color: $error;
  cursor: default;
  &:hover {
    cursor: default;
    background-color: $error;
  }
}

.win {
  background-color: $winner;
  cursor: default;
  &:hover {
    cursor: default;
    background-color: $winner;
  }
}
.image {
  width: 200px;
  height: 155px;
  border-radius: 5px;
  object-fit: cover;
}
