$menuColor: #008966;
$borderMenuColor: #007c5d;
$activeMenu: #00bc8c;
$hover: #6c757d;
$winner: $activeMenu;
$error: #ff0000;

.app {
  width: 100vw;
  height: 100vh;
  background: #222222;
  overflow: auto;
  color: #ffffff;
}
